@import "bootstrap/dist/css/bootstrap.min.css";
@import "react-bootstrap-icons";

:root {
    --primary: rgba(92, 152, 59, 1);
    --primary-hover: rgba(37, 99, 44, 1);
    --accent-soft: rgba(201, 233, 181, 1);
    --background: rgba(255, 255, 255, 1);
    --surface: rgba(255, 255, 255, 0.01);
    --text: rgba(27, 27, 27, 1);
    --muted-text: rgba(106, 106, 106, 1);
}

:root[data-theme="dark"] {
    --primary: rgba(92, 152, 59, 1);
    --primary-hover: rgba(37, 99, 44, 1);
    --accent-soft: rgba(199, 245, 169, 1);
    --background: rgba(15, 18, 16, 1);
    --surface: rgba(27, 31, 28, 0.01);
    --text: rgba(244, 244, 244, 1);
    --muted-text: rgba(163, 163, 163, 1);
    color-scheme: dark;
}


html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--text);
    background-color: var(--background);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

.table {
    --bs-table-color: var(--text);
    --bs-table-bg: var(--background);
    --bs-table-striped-color: var(--text);
    --bs-table-striped-bg: rgba(199, 245, 169, 0.3);

}

.table > thead > tr > th {
    background-color: var(--primary);
    color: var(--background);
}
* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serifn, serif;
    padding: 0;
    margin: 0;
    font-size: 20px;
}
@media (max-width: 768px) {
    * {
        font-size: 16px;
    }
}

a {
    color: inherit;
    text-decoration: none;
}
h1{
    font-size: 2.25rem;
}
h2{
    font-size: 1.75rem;
}
h3{
    font-size: 1.50rem;
}
h4{
    font-size: 1.25rem;
}
h5{
    font-size: 1rem;
}
h6 {
    font-size: .75rem;
}
p{
    font-size: 1rem;
    font-weight: 300;
}
small{
    font-size: 0.75rem;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

header{
    display: flex;
    height: 100px;
    padding: 0 50px;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    flex-shrink: 0;
    align-self: stretch;
    background-color: var(--background);
    border-bottom: 5px solid var(--primary);
}
header nav{
    flex: 1;
    display: flex;
    justify-content: space-between;
    /*flex-direction: row-reverse;*/
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
.btn{
    background-color: var(--primary);
    color: var(--background);
    border: none;
}
.btn:hover{
    background-color: var(--primary-hover);
}

label{
    width: 100%;
}
.form-control{
    border: var(--primary) 1px solid;
    color: var(--text);
}
.form-control[type="file"]::file-selector-button {
    background-color: var(--primary);
    color: var(--background);
}
.form-control[type="file"]:hover::file-selector-button {
    background-color: var(--primary-hover) !important;
    color: var(--text) !important;
}

.btn.active {
    background-color: var(--primary-hover) !important;
}

.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
    background-color: var(--primary-hover) !important;
}