@import "bootstrap/dist/css/bootstrap.min.css";

.inputGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.label {
    font-weight: 500;
    margin-bottom: 0.4rem;
}

.inputParents {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    margin: 0;
}


.formControl {
    border-radius: 0.375rem !important;
    font-size: 0.95rem;
    padding: 0.45rem 0.75rem;
    transition: border-color 0.2s ease;
    background-color: transparent;

    /* Icon appearance */
    appearance: auto;
    -webkit-appearance: auto; /* Chrome / Edge */
    -moz-appearance: auto;    /* Firefox */
}

.dateControl{
    flex: 1;
}
.timeControl {
    width: fit-content;
}

@media (max-width: 768px) {
    .inputParents {
        flex-direction: column;
    }
    .timeControl {
        width: 100%;
    }
}