.wrapper {
    overflow-y: auto;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    scrollbar-gutter: stable;
}

.table {
    margin-bottom: 0;
}

.productName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--background) !important;
}

.priceInput {
    width: 100%;
    text-align: right;
}

.th {
    background-color: var(--primary) !important;
    color: var(--background) !important;
}
