@import "bootstrap/dist/css/bootstrap.min.css";

.dropdown {
    display: inline-block;
    width: 100%;
}

.toggle {
    width: 100%;
    text-align: left;
}

.menu {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    padding: 0.25rem 0;
}

.searchContainer {
    padding: 0.5rem;
    border-bottom: 1px solid var(--primary);
    background-color: var(--background);
}

.results {
    max-height: 240px;
    overflow-y: auto;
}
