@import "bootstrap/dist/css/bootstrap.min.css";

.inputGroup {
    position: relative;
    width: 100%;
}

.formControl {
    border-radius: 0.375rem !important;
    font-size: 0.9rem;
    padding-right: 2.25rem;
}

.clearButton {
    cursor: pointer;
    background: transparent;
    border: none;
    color: #6c757d;
    transition: color 0.15s ease;
}

.clearButton:hover {
    color: #dc3545;
}
