.textContainer {
    border: 1px solid var(--primary);
    border-radius: 10px;
}

.image {
    width: 154px;
    height: 154px;
    object-fit: cover;
    border-radius: 9px 0 0 9px;
}

.omschrijving {
    color: var(--muted-text);
}