/* Main layout: horizontale verdeling */
.help{}
.main {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 20px;
}

/* Left side: Image + textblocks below each other */
/* TODO */
.links {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Image above */
/* TODO */
.plaatje{
    max-width:300px;
    height: auto;
    border-radius: 50%;
    padding: 20px;
    border: var(--background) solid 5px;
    align-self: center;
}

/* InfoField-blocks below image */
/* TODO */
.tekstblokken {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Right side: info block */
/* TODO */
.infoblok {
    padding: 0 20px 20px;
    border-radius: 12px;
    width: 50%;

}
