/* Page layout */
.main {
    display: flex;
    width: auto;
    height: 100dvh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--text);
    background: var(--background);
}

.card {
    display: flex;
    padding: 50px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
    background: var(--background);
    box-shadow: 0 0 20px 10px var(--accent-soft);
}

.input {
    display: flex;
    padding: 9px 16px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid var(--muted-text);
    background: var(--background);
}

.input::placeholder {
    color: var(--muted-text);
}

.check {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0 !important;
}

.checkInput {
    margin-top: 0 !important;
    accent-color: var(--primary-hover) !important;
}

.error {
    color: var(--bs-danger);
    font-size: 0.8rem;
    text-align: center;
}

.passwordRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

.passwordRow div {
    flex: 1;
    width: 100%;
}

.passwordLabel {
    flex: 1;
    width: 100%;
}

.button {
    display: flex;
    width: 100%;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 6px;
    background: var(--primary);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 768px) {
    .passwordRow {
        flex-direction: column;
    }
}