.help{}

.wrapper{
    background-color: var(--background);
    border: 1px solid #5C983B;
    border-radius: 10px;
    gap: 10px;
    font-family: Inter, sans-serif;
    position: relative;

}

.image {
    width: 300px;
    height: 300px;
    background-color: #3A3A3A; /* Placeholder background */
    border-radius: 9px 0 0 0;
    object-fit: cover;
    border: 2px solid #25632C;
    align-self: center;
}

.tekstContainer {
    color: var(--muted-text);
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.naam {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.prijs {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    text-decoration: line-through;
    opacity: 0.8;
}

.knop {
    background-color: var(--primary);
    color: var(--bs-white);
    line-height: 18px;
    padding: 16px 24px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 240px;
}

