.link{
    color: var(--text);
    font-size: 1.2rem;
    line-height: 1.2;
    background: unset;
    border: none;
}

.link:hover {
    color: var(--primary);
    transform: translateY(-.001px);
}

.link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0px;
    left: 0;
    background-color: #4CAF50;
    transition: width 0.3s ease;
}

.link:hover::after {
    width: 100%;
}

.logoWrapper {
    position: relative;
    height: 100%;
    width: auto;
    aspect-ratio: 1;
}

.navigationContainer {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    display: flex;
    flex: 1;
}

.themeToggle {
    color: var(--text);
    font-size: 1.5rem;
}