.link{
    font-size: 1.5rem;
}


.logoWrapper {
    position: relative;
    height: 100%;
    width: auto;
    aspect-ratio: 1;
}

.navigationContainer {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    display: flex;
    flex: 1;
}

.themeToggle {
    color: var(--text);
    font-size: 1.5rem;
}