.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    background-color: var(--background);
    border-radius: 10px;
    padding: 50px;
    flex: 1;
}

@media (max-width: 768px) {
    .main {
        padding: 0;
    }
}